h1 {
  font-family: "strelka", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-family: "madcap", sans-serif;
  font-weight: 900;
  font-style: normal;
}

p, a {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
  color: white;
}



/* MENÚ */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  width: 100%;
  box-sizing: border-box;
  z-index: 10000;

  /* Fondo con desenfoque */
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.menu h1 {
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(7, 206, 0);
}

.menu h1,
.menu .logo-link {
  position: relative;
  z-index: 1200;
  cursor: pointer;
  text-decoration: none;
}

.navbar .tickets-link {
  background-color: rgb(7, 206, 0);
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navbar .tickets-link:hover {
  background-color: white;
  color: red;
  transform: scale(1);
}

.navbar {
  display: flex;
  gap: 80px;
  transition: all 0.4s ease;
  right: 20px;
  z-index: 1000;
}

.navbar .ative {
  pointer-events: auto;
}

.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  font-weight: bold;
  padding: 0.5rem;
}

.navbar a:hover {
  transform: scale(1.2);
  color: rgb(0, 158, 0);
  font-weight: bold;
}



/* MENÚ HAMBURGUESA */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

@media (max-width: 850px) {
  .navbar {
    position: absolute;
    top: 90px;
    right: 5px;
    background: white;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 25px;
    padding: 30px 0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.4s ease;
  }

  .navbar a {
    color: black;
  }

  .navbar a:hover,
  .navbar a.active-link {
    color: black;
  }

  .navbar.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }
}

.navbar a.active-link {
  color: red;
  font-weight: bold;
  position: relative;
}

.navbar a.active-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: red;
}



/* HOME */
/* Background pickles */
#inicio {
  min-height: calc(100vh - 100px);
  padding-top: 100px;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}

#inicio::before {
  content: "";
  position: absolute;
  inset: -200px;

  background-image: url("../media/pickle-rick.png");
  background-repeat: repeat;
  background-size: 120px 120px;

  animation: cascada 12s linear infinite;
  transform: rotate(15deg);
  opacity: 0.5;

  z-index: -1;
}

@keyframes cascada {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 120px;
  }
}

#inicio h1 {
  font-size: clamp(3rem, 8vw, 7rem);
  color: white;
  text-shadow:
  0 0 10px rgb(17, 204, 0),
  0 0 30px rgba(0, 255, 156, 0.4);
}

.intro-block {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

.intro-block.reverse {
  flex-direction: row-reverse;
}

.intro-text {
  flex: 1;
}

.intro-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 0;
}

.intro-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.slideshow {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 15px;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slides img.active {
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(9, 255, 0, 0.5);
  color: white;
  border: none;
  font-size: 1rem;
  padding: 2px 8px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.arrow.prev {
  left: 15px;
}

.arrow.next {
  right: 15px;
}

.arrow:hover {
  background: rgb(9, 225, 0);
}

@media (max-width: 1000px) {
  .intro-block,
  .intro-block.reverse {
    flex-direction: column;
    text-align: center;
    padding: 80px 20px;
  }

  .slideshow {
    max-width: 75%;
  }
}





/* CHARACTERS */
#personajes {
  margin: 100px auto;
  padding: 0 40px;
  max-width: 1400px;
}

#personajes h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

#personajes p {
  text-align: center;
  margin-bottom: 60px;
  opacity: 0.8;
}

#lista-personajes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 50px;
}

.personaje {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}

.personaje img {
  width: 100%;
  display: block;
  border-radius: 15px;
  transition: 
    filter 0.4s ease,
    transform 0.4s ease;
}

/* TEXTO */
.nombre {
  font-family: "poppins", sans-serif;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* HOVER */
.personaje:hover img {
  filter: saturate(1.8) blur(3px);
  transform: scale(1.05);
}

.personaje:hover .nombre {
  opacity: 1;
}




/* FOOTER */
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 0;
  box-sizing: border-box;
}

/* ----- Franja verde superior ----- */
.footer-top {
  background-color: rgb(7, 206, 0);
  padding: 1rem 0;
  margin-top: 8%;
}

.footer-top h2 {
  font-family: "strelka", sans-serif;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
}

/* ----- Contenido principal ----- */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 9vw;
  flex-wrap: wrap;
}

/* Columna izquierda */
.footer-left {
  flex: 1;
  text-align: left;
}

/* Imagen */
.footer-img {
  width: 26rem;  
  height: auto;
}

/* Columna derecha */
.footer-right {
  flex: 1;
  text-align: right;
  min-width: 250px;
  font-family: "poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
}

/*rotacion*/ 

.footer-left .footer-img {
    animation: rotate 20s linear infinite;
    transform-origin: center; 
}

/* Definición de la animación */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ----- Redes sociales ----- */
.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.social-icons a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: rgb(7, 206, 0);
  transform: scale(1.2);
}

/* ----- Textos ----- */
.footer p {
  margin: 3.2rem 0;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: rgb(7, 206, 0);
}

/* ----- Botón ----- */
.useful-btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  background-color: #630164;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.useful-btn:hover {
  background-color: #480049;
}

/* ----- Parte inferior ----- */
.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 2rem;
  font-size: 0.9rem;
}

.footer-bottom {
  border-top: 0.5px solid rgba(80, 79, 79, 0.3);
  padding-top: 2rem;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    padding: 3rem 2rem;
  }

  .footer-left,
  .footer-right {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
