#lista-personajes {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 20px;
}

.personaje {
    position: relative;
    cursor: pointer;
}

.personaje img {
    width: 100%;
    border-radius: 10px;
}

.nombre {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.personaje:hover .nombre {
    opacity: 1;
}